* { box-sizing: border-box; }


 #calculadora{
   width: 35%;
   height: 300px;
   border:thin solid black;
   margin-left: 400px;
   margin-top: 20px;
   background-color: red;
 }

 #texto-pantalla{
   width: 95%;
   height: 55px;
   border: medium solid black;
   margin-left: 15px;
   margin-top: 13.33px;
   margin-bottom: 10px;
 }

 #numeros-pantalla{
   width: 100%;
   height: 100%;
 }

 #numeros{
   margin-left: 13.33px;
   width: 30%;
   text-align: center;
   float: left;

   height: 200px;
 }

 #operaciones{
   height: 200px;
   width: 40%;
   margin-left: 10px;

   float: left;
 }

 #dineros{
   height: 200px;
   width: 20%;
   margin-left: 10px;
   
   float: left;
 }

.a1{
  width: 55px;
  height: 44.33px;
  margin: 2px;
}

.a2{
  width: 55px;
  height: 44.33px;
  margin: 2px;
}

.a4{
  width: 98%;
  height: 50%;
}



#borrar{
  width: 72.33%;
  height: 44.33px;
  margin: 2px;
}

#a3{
  width: 97%;
  height: 75px;
  margin: 2px;
  margin-top: 12px;
  font-size: 35px;
}

@media screen and (max-width: 880px) {

}
